.logo{
    font-weight:700;
    font-style: italic;
}

.navlink{
    color: rgb(227, 219, 219);
}

.navlink:hover{
    color:white;
    font-weight: 900;
}

.product {
    transition: transform 2s;
}

.product:hover {
    transform: rotate(-90deg);

}